@import'./variables';
@import'./estructura/estructura';





*, *::before, *::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
 body{
    background-color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
 }
 
main{
    width: 90%;
    
}

 .panel-interior{
    padding: 0px 48px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

 .panel-interior h1{
    font-size: 32px;
 }
 .panel-interior p{
    font-size: 14px;
 }

 

.estado-cuenta{
   margin-bottom: 20px;
}

 .estado-cuenta-saldo{
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-gap: 20px;
   
 }

 .estado-cuenta-saldo .columna1{
    display: flex;
    border: 1px solid $grisito;
    border-radius: 10px;
    padding: 25px;
    justify-content: space-between;
 }
 .estado-cuenta-saldo .columna1 div h2{
    display: inline;
 }
 .estado-cuenta-saldo .columna1 div p{
    font-size: 1.5rem;
    margin-top: 10px;
 }
 .columna1 img {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
   
}

 .estado-cuenta-saldo .columna2{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    border: 1px solid $grisito;
    border-radius: 10px;
 }
 .estado-cuenta-saldo .columna2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 .estado-cuenta-saldo .columna2 div:first-child {
    border-right: 1px solid $grisito;
}

 .columna2 img {
    width: 30px;

}

.columna2 div h3{
    font-size: 0.8rem;
    margin-top: 10px;
    color: rgb(150, 144, 144);
}



 
.nuevo-ahorro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid $grisito;
    border-radius: 5px;
    padding: 10px 0px;
    cursor:pointer;
}
.nuevo-ahorro img{
    width: 30px;
}
.nuevo-ahorro h5{
    color: #5144e9 ;
}


@media(max-width:991px){
   .columna2 div h3 {
       text-align: center;
   }
   .columna2 img {
       width: 25px;
   }
   .ahorros {
      grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:768px){
   header{
      padding-inline: 0px;
   }
   .ahorros {
      grid-template-columns: 1fr;  
      grid-gap: 12px;
  }
  .ahorros .info {
   height: 180px;
   justify-content: space-evenly;
}
  .panel-interior {
      height: auto;
      padding-block: 20px ;
      padding-inline: 0px; 
       
}
   .panel-interior h1{
      font-size: 37px;
}
.panel-interior p {
   font-size: 18px;
   color: gray;
   padding-top: 12px;
}
   .iconos-header .ico{
      display: none;
   }
   .iconos-header .logo{
      display: block;
      width: 145px;
  }
  .estado-cuenta {
   padding-top: 20px;
}
.estado-cuenta-saldo {
   grid-template-columns: 1fr;
}
.estado-cuenta-saldo .columna2 {
   height: 130px;
}
.columna2 img{
   width: 35px;
}
.columna2 div h3 {
   font-size: 1.2rem;
}
.nuevo-ahorro {
   margin-top: 20px;
   border:2px solid #5144e9;
   border-radius: 10px;
   flex-direction: row;
   padding: 20px;
}
.titulo h4 {
   font-size: 20px;
}
.titulo p {
   font-size: 14px;
}
.saldo-interno {
   padding-bottom: 8px;
}
.saldo-interno .montos span:nth-child(1) {
   color: #4f46e5;
   font-size: 19px;
}
.icono-morado {
   margin-right: 10px;  
}
.nuevo-ahorro img {
   width: 60px;
}
.nuevo-ahorro h5 {
   font-size: 18px;
}







}


